In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('./data/raw_data.csv')

In [3]:
df_train['Profession'].unique()

array(['Chef', 'Teacher', nan, 'Business Analyst', 'Finanancial Analyst',
       'Chemist', 'Electrician', 'Software Engineer', 'Data Scientist',
       'Plumber', 'Marketing Manager', 'Accountant', 'Entrepreneur',
       'HR Manager', 'UX/UI Designer', 'Content Writer',
       'Educational Consultant', 'Civil Engineer', 'Manager',
       'Pharmacist', 'Financial Analyst', 'Architect',
       'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge',
       'Researcher', 'Pilot', 'Graphic Designer', 'Travel Consultant',
       'Digital Marketer', 'Lawyer', 'Research Analyst',
       'Sales Executive', 'Doctor', 'Unemployed', 'Investment Banker',
       'Family Consultant', 'B.Com', 'BE', 'Student', 'Yogesh', 'Dev',
       'MBA', 'LLM', 'BCA', 'Academic', 'Profession', 'FamilyVirar',
       'City Manager', 'BBA', 'Medical Doctor', 'Working Professional',
       'MBBS', 'Patna', 'Unveil', 'B.Ed', 'Nagpur', 'Moderate', 'M.Ed',
       'Analyst', 'Pranav', 'Visakhapatnam', 'PhD', 'Yuvraj'],
      dtype=object)

# Preprocessing
## cleaning data
* handle missing value

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [5]:
df_train

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [6]:
df_train.isna().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [7]:
profession_mode = df_train['Profession'].mode()[0] # mendapatkan nilai modus profession
df_train['Profession'] = df_train['Profession'].fillna(profession_mode)

In [8]:
df_train.isna().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

## handling missing data Academic Pressure
* karena gada outlier, handle missing value menggunakan mean adalah yg terbaik
* namun karena datanya termasuk ordinal categoic yg memiliki skala likert (1-5) jadi menggunakan median
* modus juga bagus untuk case ini karena bisa menangani data categoric

In [9]:
academic_pressure_median = int(df_train['Academic Pressure'].median())
df_train['Academic Pressure'] = df_train['Academic Pressure'].fillna(academic_pressure_median)

## handle  missing value work pressure
* sama kaya kolom sebelumnya

In [10]:
df_train['Work Pressure'].describe()

count    112782.000000
mean          2.998998
std           1.405771
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: Work Pressure, dtype: float64

In [11]:
work_pressure_median = df_train['Work Pressure'].median()
df_train['Work Pressure'] = df_train['Work Pressure'].fillna(work_pressure_median)

## handle missing value CGPA
* ini adalah data ordinal catogoric karena merepresentasikan urutan 1 - 10
* untuk handle ini menggunakan median yg paling baik

In [12]:
df_train['CGPA'].describe()

count    27898.000000
mean         7.658636
std          1.464466
min          5.030000
25%          6.290000
50%          7.770000
75%          8.920000
max         10.000000
Name: CGPA, dtype: float64

In [13]:
CGPA_median = df_train['CGPA'].median()
df_train['CGPA'] = df_train['CGPA'].fillna(CGPA_median)

In [14]:
df_train['CGPA']

0         7.77
1         7.77
2         8.97
3         7.77
4         7.77
          ...
140695    7.77
140696    7.77
140697    7.77
140698    7.77
140699    9.24
Name: CGPA, Length: 140700, dtype: float64

In [15]:
df_train.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,140700.000000,140700.000000,140700.000000,140700.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,70349.500000,40.388621,3.028209,2.999197,7.747919,2.944940,2.974404,6.252679,2.988983,0.181713
std,40616.735775,12.384099,0.617291,1.258598,0.653607,1.360197,1.416078,3.853615,1.413633,0.385609
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,35174.750000,29.000000,3.000000,2.000000,7.770000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,70349.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,105524.250000,51.000000,3.000000,4.000000,7.770000,4.000000,4.000000,10.000000,4.000000,0.000000
max,140699.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [16]:
df_train.isna().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                             0
Work Pressure                                 0
CGPA                                          0
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

## handle missing value Study Satisfaction
* alasan menggunakan median sama dengan kolom yg lain yaitu karena datanya ordinal

In [17]:
df_train['Study Satisfaction'].describe()

count    27897.000000
mean         2.944940
std          1.360197
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: Study Satisfaction, dtype: float64

In [18]:
study_satisfaction_median = df_train['Study Satisfaction'].median()
df_train['Study Satisfaction'] = df_train['Study Satisfaction'].fillna(study_satisfaction_median)

## handle missing value Job Satisfaction

In [19]:
df_train['Job Satisfaction'].describe()

count    112790.000000
mean          2.974404
std           1.416078
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: Job Satisfaction, dtype: float64

In [20]:
df_train['Job Satisfaction'].describe()

count    112790.000000
mean          2.974404
std           1.416078
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: Job Satisfaction, dtype: float64

In [21]:
job_satisfaction_median = df_train['Job Satisfaction'].median()
df_train['Job Satisfaction'] = df_train['Job Satisfaction'].fillna(job_satisfaction_median)

## handling missing value financial stress

In [22]:
financial_stress_median = df_train['Financial Stress'].median()
df_train['Financial Stress'] = df_train['Financial Stress'].fillna(financial_stress_median)

In [23]:
df_train['Financial Stress'].describe()

count    140700.000000
mean          2.988984
std           1.413613
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: Financial Stress, dtype: float64

## handling missing value Dietary Habits
* menggunakan modus karena datanya categoric yg tidak ordinal

In [24]:
dietary_habits_mode = df_train['Dietary Habits'].mode()[0]
df_train['Dietary Habits'] = df_train['Dietary Habits'].fillna(dietary_habits_mode)

## handling missing value Degree
* menggunakan modus karena datanya categoric yg tidak ordinal

In [25]:
degree_mode = df_train['Degree'].mode()[0]
df_train['Degree'] = df_train['Degree'].fillna(degree_mode)

In [26]:
df_train['Financial Stress'].describe()

count    140700.000000
mean          2.988984
std           1.413613
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: Financial Stress, dtype: float64

## cek missing value

In [27]:
df_train.isna().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

## mengubah data type yg tidak sesuai

In [28]:
df_train

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,3.0,5.0,7.77,3.0,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,3.0,4.0,7.77,3.0,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,Teacher,5.0,3.0,8.97,2.0,3.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,3.0,5.0,7.77,3.0,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,3.0,1.0,7.77,3.0,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,Teacher,3.0,5.0,7.77,3.0,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,3.0,5.0,7.77,3.0,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,3.0,3.0,7.77,3.0,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,3.0,5.0,7.77,3.0,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,Teacher,4.0,3.0,9.24,1.0,3.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [29]:
df_train['Age'] = df_train['Age'].astype(int)
df_train['Academic Pressure'] = df_train['Academic Pressure'].astype(int)
df_train['Work Pressure'] = df_train['Work Pressure'].astype(int)
df_train['Study Satisfaction'] = df_train['Study Satisfaction'].astype(int)
df_train['Job Satisfaction'] = df_train['Job Satisfaction'].astype(int)
df_train['Work/Study Hours'] = df_train['Work/Study Hours'].astype(int)
df_train['Financial Stress'] = df_train['Financial Stress'].astype(int)

In [30]:
df_train

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49,Ludhiana,Working Professional,Chef,3,5,7.77,3,2,More than 8 hours,Healthy,BHM,No,1,2,No,0
1,1,Vivan,Male,26,Varanasi,Working Professional,Teacher,3,4,7.77,3,3,Less than 5 hours,Unhealthy,LLB,Yes,7,3,No,1
2,2,Yuvraj,Male,33,Visakhapatnam,Student,Teacher,5,3,8.97,2,3,5-6 hours,Healthy,B.Pharm,Yes,3,1,No,1
3,3,Yuvraj,Male,22,Mumbai,Working Professional,Teacher,3,5,7.77,3,1,Less than 5 hours,Moderate,BBA,Yes,10,1,Yes,1
4,4,Rhea,Female,30,Kanpur,Working Professional,Business Analyst,3,1,7.77,3,1,5-6 hours,Unhealthy,BBA,Yes,9,4,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18,Ahmedabad,Working Professional,Teacher,3,5,7.77,3,4,5-6 hours,Unhealthy,Class 12,No,2,4,Yes,1
140696,140696,Lata,Female,41,Hyderabad,Working Professional,Content Writer,3,5,7.77,3,4,7-8 hours,Moderate,B.Tech,Yes,6,5,Yes,0
140697,140697,Aanchal,Female,24,Kolkata,Working Professional,Marketing Manager,3,3,7.77,3,1,More than 8 hours,Moderate,B.Com,No,4,4,No,0
140698,140698,Prachi,Female,49,Srinagar,Working Professional,Plumber,3,5,7.77,3,2,5-6 hours,Moderate,ME,Yes,10,1,No,0
140699,140699,Sai,Male,27,Patna,Student,Teacher,4,3,9.24,1,3,Less than 5 hours,Healthy,BCA,Yes,2,3,Yes,1

In [31]:
df_train['Have you ever had suicidal thoughts ?']

0          No
1         Yes
2         Yes
3         Yes
4         Yes
         ...
140695     No
140696    Yes
140697     No
140698    Yes
140699    Yes
Name: Have you ever had suicidal thoughts ?, Length: 140700, dtype: object

In [32]:
df_train.to_csv('./data/cleaned_data.csv', index=False)